certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
filelock==3.7.0
flatbuffers==2.0
halo==0.0.31
huggingface-hub==0.7.0
idna==3.3
log-symbols==0.0.14
numpy==1.22.4
onnxruntime==1.11.1
packaging==21.3
protobuf==3.20.1
PyAudio==0.2.11
pycparser==2.21
pyparsing==3.0.9
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
Rx==3.2.0
scipy==1.8.1
six==1.16.0
SoundFile==0.10.3.post1
spinners==0.0.24
termcolor==1.1.0
tokenizers==0.12.1
torch==1.11.0
torchaudio==0.11.0
tqdm==4.64.0
transformers==4.19.2
typing_extensions==4.2.0
urllib3==1.26.9
